
.blog{
    display:flex;
    flex-direction:column;
    text-align: center;
}

.form{
    max-width: 300px;
    display: flex;
}

.lista{
    max-width: 400px;
    display:grid;
    grid-auto-columns:max-content;
    grid-auto-rows: max-content;
}

.noticia {
    display:flex;
    flex-direction: grid;
    border: solid 2px black;
    max-width:120px;
}

.noticia.figure{
    max-width:100px;
}