
<div class="blog">
    <div class="form">
        <div>
            <label for="titulo">Título</label>
            <input type="text" id="titulo" placeholder="Introduzca el titulo de la noticia" [(ngModel)]="newNoticia.titulo">
        </div>
        <div>
            <label for="imagen">Imagen</label>
            <input type="text" id="imagen" placeholder="Introduzca URL de la imagen de la noticia" [(ngModel)]="newNoticia.url">
        </div>
        <div>
            <label for="texto">Texto</label>
            <input type="text" id="texto" placeholder="Introduzca el texto de la noticia" [(ngModel)]="newNoticia.texto">
        </div>
        <div>
            <label for="fecha">Fecha</label>
            <input type="text" id="fecha" placeholder="Introduzca la fecha de la publicación" [(ngModel)]="newNoticia.fecha">
        </div>
        <button (click)="guardarNoticia()">Añadir</button>
    </div>
    <div class="lista">
        <div [innerHTML]="pintarNoticias()"></div>
    /<div>
</div>